body {
    font-family: 'Poppins', sans-serif;
}

.card {
    max-height: 400px;
    overflow: hidden;
}

.card img {
    height: 300px;
    object-fit: cover;
}

#cards{
    margin-bottom: 40px;
}

.search-bar {
    width: 100%;
    max-width: 300px;
}

.carousel-inner img {
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    height: 100%; /* Asegura que la altura sea del 100% */
}

.carousel {
    height: 100vh; /* Ajusta el carrusel al 100% de la altura de la pantalla */
}

.carousel-item {
    height: 100%; /* Asegura que cada slide ocupe toda la altura del carrusel */
}