body {
    font-family: 'Poppins', sans-serif;
}

h5{
    text-align: center;
}

.card {
    max-height: 400px;
    overflow: hidden;
}

.card img {
    height: 300px;
    object-fit: cover;
}

#cards{
    margin-bottom: 40px;
}

.card-text{
    text-align: end;
}

.search-bar {
    width: 100%;
    max-width: 300px;
}

.carousel-inner img {
    object-fit: cover;
    height: 100%; 
}

.carousel {
    height: 100vh; 
}

.carousel-item {
    height: 100%; 
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 5rem; 
    width: 3rem;     
    height: 3rem;    
}

